input {
    outline: none;
}

.input {
    width: 448px;
    height: 33px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #ffffff;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-indent: 12px;
    margin: 50px 0 50px 0;
}

.input:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.searchBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cancelButton{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.cancelButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
}